
<div class="loadermain">
    <div class="loader">
        <div class="dash moja"></div>
        <div class="dash mbili"></div>
        <div class="dash tatu"></div>
        <div class="dash nne"></div>
    </div>
</div>
<header>
    <div class="nav">
        <input type="checkbox" id="nav-check">
        <div class="nav-header">
            <div class="nav-title"><a href="/"><img src="images/agrilogo.png" alt=""></a></div>
        </div>
        <div class="nav-btn">
            <label for="nav-check">
                <span></span>
                <span></span>
                <span></span>
            </label>
        </div>
        <div class="nav-links">
            <a href="/" onclick="closeNav()">HOME</a>
            <a href="/" onclick="closeNav()">ABOUT</a>
            <% if (locals.isLogedIn) { %>
                <a href="/logout" onclick="closeNav()">logout</a>
            <% } else { %>
                <a href="/login" onclick="closeNav()">LOGIN</a>
                <a href="/register" onclick="closeNav()">REGISTER</a>
            <% } %>
            <a href="/" onclick="closeNav()">CONTACT</a>
        </div>
    </div>
</header>