<%- include('partials/header') %>
    <%- include('partials/nav') %>
    <main class="section-divs">
        <h1 class="section-titles">Section Title</h1>
        <h2 class="section-subtitles">Section Subtitle</h2>
        <p>Section text</p>
    </main>
<%- include('partials/footer') %>