<%- include('partials/header') %>
    <%- include('partials/nav') %>
    <main class="section-divs">
        <h1 class="section-titles">Head</h1>
        <h2 class="section-subtitles">Sub Head</h2>
        <p>body</p>
    </main>
<%- include('partials/footer') %>