<%- include('partials/header') %>
    <%- include('partials/nav') %>
    <main class="section-divs">
        <section id="hero">
            <div class="container">
                <h2>Welcome to AgriHub</h2>
                <p>Discover a World of Agricultural Innovation and Excellence at AgriHub, where we are dedicated to cultivating the Future of Agriculture through cutting-edge technologies, sustainable practices, and a passion for feeding the world. Join us in our mission to revolutionize farming and create a more sustainable and prosperous future for all.</p>
                <a href="#features" class="btn">Explore Now</a>
            </div>
        </section>        
        <section id="features">
            <div class="container">
                <h2>Explore Our Featured Categories</h2>
                <div class="feature">
                    <h3>Crop Management</h3>
                    <p>Embark on a journey of knowledge as you discover the latest and most effective techniques in crop cultivation and pest control. Uncover the secrets to bountiful harvests and sustainable farming practices that will elevate your crop management game to new heights.</p>
                </div>
                <div class="feature">
                    <h3>Livestock Care</h3>
                    <p>Delve into the world of livestock care with our comprehensive guides on ensuring the well-being of your animals. From sustainable livestock farming practices to optimal health management, empower yourself to provide the best care for your livestock and create a thriving and healthy environment for your animals.</p>
                </div>
                <div class="feature">
                    <h3>AgTech Innovations</h3>
                    <p>Stay at the forefront of agricultural progress by exploring the latest AgTech innovations and automation in farming. From smart farming solutions to groundbreaking technologies, we bring you insights that will revolutionize the way you approach agriculture. Embrace the future with AgTech and elevate your farming practices to new levels of efficiency and productivity.</p>
                </div>
            </div>
        </section>
        
        <section id="about">
            <div class="container">
                <h2>About AgriHub</h2>
                <p>Welcome to AgriHub, a dedicated community committed to reshaping the future of agriculture. At AgriHub, our unwavering mission is to empower farmers worldwide with cutting-edge solutions and sustainable practices, fostering a new era of agricultural excellence.</p>
                <p>Driven by passion and innovation, we strive to revolutionize the agricultural landscape by providing a platform where farmers can thrive. From the latest technological advancements to eco-friendly practices, AgriHub is your partner in cultivating a sustainable and prosperous future for agriculture.</p>
            </div>
        </section>
        
        <section id="services">
            <div class="container">
                <h2>Our Agricultural Services</h2>
                <ul>
                    <li>Crop Consultations</li>
                    <li>Livestock Health Programs</li>
                    <li>Soil Fertility Analysis</li>
                    <li>Organic Farming Workshops</li>
                    <li>Smart Irrigation Solutions</li>
                </ul>
            </div>
        </section>

        <section class="events">
            <div class="container">
                <h2>Upcoming Events and Workshops</h2>
                <h3>Stay well-informed about our exciting agriculture events, engaging workshops, and insightful webinars.</h3>
                <p>Join us as we cultivate knowledge together and explore the latest developments in the field of agriculture.</p>
            </div>
        </section>
        
        <section class="testimonials container">
            <h3>Testimonials</h3>
            <div class="row">
                <div class="card">
                    <p>As a farmer in Rift Valley, Kenya, I found the agricultural website incredibly helpful in providing valuable information about crop management and market trends. It has positively impacted my farming practices.</p>
                    <p class="author">Jane Kiprop - <i class="region">Rift Valley, Kenya</i></p>
                </div>
                <div class="card">
                    <p>The agricultural website has revolutionized the way I approach farming. The expert advice and resources have made a significant difference in my yields. Thank you for empowering Kenyan farmers!</p>
                    <p class="author">Samuel Mutisya - <i class="region">Eastern, Kenya</i></p>
                </div>
                <div class="card">
                    <p>The website's detailed guides on sustainable farming practices have been a game-changer for me. It's a fantastic resource for Kenyan farmers looking to adopt eco-friendly and efficient techniques.</p>
                    <p class="author">Grace Njeri - <i class="region">Central, Kenya</i></p>
                </div>
                <div class="card">
                    <p>Being a part of the online community on this agricultural website has allowed me to connect with fellow farmers in Nyanza, Kenya. The shared experiences and tips have created a supportive network that benefits us all.</p>
                    <p class="author">Peter Odhiambo - <i class="region">Nyanza, Kenya</i></p>
                    
                </div>
            </div>
        </section>  
    </main>
<%- include('partials/footer') %>
