<%- include('partials/header') %>
    <%- include('partials/nav') %>
    <main class="user-auth-container">
        <div id="signup-container" class="auth-container">
            <form action="" id="signup-form">
                <h1>Create Account</h1>
                <p class="error">Wrong Details</p>
                <label for="signup-name">Name:</label>
                <input type="text" name="name" id="signup-name">
    
                <label for="signup-phone">Phone Number:</label>
                <input type="tel" name="phone" id="signup-phone">
    
                <label for="signup-password">Password:</label>
                <input type="password" name="password" id="signup-password">
    
                <label for="confirm-password">Confirm Password:</label>
                <input type="password" name="confirm-password" id="confirm-password">
                
                <input type="submit" value="Login">
            </form>
        </div>
    </main>
<%- include('partials/footer') %>